Repository AHTOOOXA/gramkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-checks, import-linter, backend-tests

.pre-commit-config.yaml:

fail_fast: true
repos:
# Standard file checks (updated to v5.0.0)
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-yaml
    -   id: check-toml
    -   id: check-json
        exclude: tsconfig.*\.json$
    -   id: end-of-file-fixer
        exclude: ^apps/[^/]+/frontend/src/gen/
    -   id: trailing-whitespace
        exclude: ^apps/[^/]+/frontend/src/gen/
    -   id: check-merge-conflict
    -   id: check-added-large-files
        args: ['--maxkb=1000']
    -   id: check-ast
    -   id: debug-statements

# Ruff - replaces Black + isort + Flake8 (10-100x faster)
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.13.2
    hooks:
    -   id: ruff
        name: Ruff linter
        args: [--fix, --exit-non-zero-on-fix]
        files: ^(core/backend|apps/[^/]+/backend)/.*\.py$
        exclude: ^(backend/|apps/[^/]+/backend/migrations/)
    -   id: ruff-format
        name: Ruff formatter
        files: ^(core/backend|apps/[^/]+/backend)/.*\.py$
        exclude: ^(backend/|apps/[^/]+/backend/migrations/)

-   repo: local
    hooks:
    -   id: frontend-checks
        name: ESLint + TypeScript (parallel)
        entry: >-
            bash -c 'apps=$(git diff --cached --name-only | grep "^apps/[^/]*/frontend/" | grep -v "/src/gen/" | grep -v "/src/schema/" | grep -v "/components/ui/" | cut -d/ -f2 | sort -u);
            exit_code=0;
            for app in $apps; do
              if [ -n "$app" ]; then
                (echo "→ Checking $app..." && cd apps/$app/frontend && pnpm lint:fix && pnpm typecheck) &
              fi;
            done;
            for job in $(jobs -p); do wait $job || exit_code=1; done;
            exit $exit_code'
        language: system
        files: ^apps/[^/]+/frontend/.*\.(ts|tsx|vue|js)$
        exclude: ^apps/[^/]+/frontend/(src/(schema/|gen/)|components/ui/|hooks/use-mobile\.ts)
        pass_filenames: false
        stages: [commit]

    -   id: import-linter
        name: Check import boundaries (parallel)
        entry: >-
            bash -c 'apps=$(git diff --cached --name-only | grep "^apps/[^/]*/backend/src/" | cut -d/ -f2 | sort -u);
            exit_code=0;
            for app in $apps; do
              if [ -f "apps/$app/backend/.importlinter" ]; then
                (echo "→ Checking imports: $app" && cd apps/$app/backend/src && ENV_FILE=../.env.test uv run lint-imports --config ../.importlinter) &
              fi;
            done;
            for job in $(jobs -p); do wait $job || exit_code=1; done;
            exit $exit_code'
        language: system
        pass_filenames: false
        files: ^apps/[^/]+/backend/src/.*\.py$
        stages: [commit]

    -   id: backend-tests
        name: Run backend tests (testmon + parallel, push only)
        entry: >-
            bash -c 'apps=$(git diff --cached --name-only | grep "^apps/[^/]*/backend/src/" | cut -d/ -f2 | sort -u);
            exit_code=0;
            for app in $apps; do
              if [ -f "apps/$app/backend/.env.test" ] && [ -d "apps/$app/backend/src/app/tests" ]; then
                (echo "→ Testing: $app" && cd apps/$app/backend && ENV_FILE=.env.test uv run pytest --testmon -n 2 -x --tb=short --ignore=src/app/tests/_archived) &
              fi;
            done;
            for job in $(jobs -p); do wait $job || exit_code=1; done;
            exit $exit_code'
        language: system
        pass_filenames: false
        files: ^apps/[^/]+/backend/src/(app|tests)/.*\.py$
        stages: [push]

fix: restore antonchaynik.ru demo links
  README.md
  apps/template-react/frontend/app/[locale]/(marketing)/page.tsx
  apps/template-react/frontend/components/home/ArchitectureDiagram.tsx
Due: frontend-checks

fix: regenerate pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

chore: trigger CI
  apps/template-react/frontend/package.json
Due: none

fix: remove unnecessary type assertion in SuspenseDemo
  apps/template-react/frontend/components/demo/SuspenseDemo.tsx
Due: frontend-checks

fix: remove unused error prop from SuspenseDemo ErrorFallback
  apps/template-react/frontend/components/demo/SuspenseDemo.tsx
Due: frontend-checks

feat: add combined demo deployment with nginx for Vue
  apps/template-react/.env.example
  apps/template-react/docker-compose.local.yml
  apps/template-react/frontend/styles/globals.css
  apps/template-vue/.env.example
  apps/template-vue/docker-compose.dev.yml
  apps/template-vue/docker-compose.local.yml
  apps/template-vue/docker-compose.yml
  apps/template-vue/frontend/Dockerfile.prod
  apps/template-vue/frontend/nginx.conf
  apps/template-vue/frontend/vite.config.ts
  docker-compose.demo.yml
  pnpm-lock.yaml
Due: frontend-checks

chore: regenerate pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

Potato
  apps/template-vue/backend/migrations/versions/cc1f66a220fd_add_user_role.py
  docs/dry-extraction-guide.md
  docs/dry-review-template-react.md
  pnpm-lock.yaml
  uv.lock
Due: none

sync: update from upstream
  README.md
  apps/template-react/backend/src/app/webhook/app.py
  apps/template-react/backend/src/app/webhook/socketio/__init__.py
  apps/template-react/backend/src/app/worker/jobs.py
  apps/template-react/frontend/app/[locale]/(marketing)/page.tsx
  apps/template-react/frontend/i18n/messages/en.json
  apps/template-react/frontend/i18n/messages/ru.json
  apps/template-vue/frontend/src/app/i18n/locales/en.json
  apps/template-vue/frontend/src/app/i18n/locales/ru.json
  apps/template-vue/frontend/src/app/presentation/screens/Marketing.vue
  core/backend/src/core/infrastructure/fastapi/factory.py
  core/backend/src/core/infrastructure/fastapi/middleware/tracker.py
  docs/dry-extraction-guide.md
  docs/tasks/core-frontend-dry-extraction/00-foundation.md
  docs/tasks/core-frontend-dry-extraction/01-exceptions.md
  docs/tasks/core-frontend-dry-extraction/02-auth-base-router.md
  docs/tasks/core-frontend-dry-extraction/03-admin-handlers.md
  docs/tasks/core-frontend-dry-extraction/04-workers-statistics.md
  docs/tasks/core-frontend-dry-extraction/05-frontend-react.md
  docs/tasks/core-frontend-dry-extraction/ARCHITECTURE.md
  docs/tasks/core-frontend-dry-extraction/CONTEXT.md
  docs/tasks/core-frontend-dry-extraction/README.md
Due: frontend-checks, import-linter, backend-tests

chore: remove dead exception code and obsolete task docs
  .claude/settings.json
  apps/template-react/backend/src/app/exceptions.py
  apps/template-react/backend/src/app/webhook/routers/base.py
  apps/template-vue/backend/src/app/exceptions.py
  apps/template-vue/backend/src/app/webhook/routers/base.py
  docs/dry-extraction-guide.md
  docs/dry-review-template-react.md
  docs/tasks/core-frontend-dry-extraction/00-foundation.md
  docs/tasks/core-frontend-dry-extraction/01-exceptions.md
  docs/tasks/core-frontend-dry-extraction/02-auth-base-router.md
  docs/tasks/core-frontend-dry-extraction/03-admin-handlers.md
  docs/tasks/core-frontend-dry-extraction/04-workers-statistics.md
  docs/tasks/core-frontend-dry-extraction/05-frontend-react.md
  docs/tasks/core-frontend-dry-extraction/ARCHITECTURE.md
  docs/tasks/core-frontend-dry-extraction/CONTEXT.md
  docs/tasks/core-frontend-dry-extraction/README.md
Due: import-linter, backend-tests
